@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
}

.contactInput {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 200px;
    height: 15px;    
}

/* Styles for phones */
#heroBackground {
    background-image: url('../img/backgrounds/tv-family-large.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

#countdownTimer {
    flex-direction: row;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    #countdownTimer {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    #timer {
        margin-top: 2rem;
    }

    #emailCta {
        flex-direction: column;
    }

    #GetNotified {
        margin-top: 1em;
    }
}

/* Medium screens */
@media (min-width: 577px) and (max-width: 992px) {
    /* Styles for laptops */
    /* #heroBackground {
        background-image: url('../img/backgrounds/tv-family-medium.png');
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        height: auto;
    } */
}

/* Large screens */
@media (min-width: 993px) {
    /* Styles for desktops */
    /* #heroBackground {
        background-image: url('../img/backgrounds/tv-family-large.png');
        background-size: cover;
        max-width: 100%;
        height: auto;
        background-repeat: no-repeat;
    } */
}